$lh: 1.42rem;
$medium: 1.2rem;



$breakpoint-mobile-min     : 320px;
$breakpoint-mobile-max     : 575px;

$breakpoint-smalltablet-min: 576px;
$breakpoint-smalltablet-max: 767px;

$breakpoint-largetablet-min: 768px;
$breakpoint-largetablet-max: 1024px;

$breakpoint-smallscreen-min: 1025px;
$breakpoint-smallscreen-max: 1399px;

$breakpoint-largescreen-min: 1400px;
$breakpoint-largescreen-max: 2559px;

$breakpoint-2k-min: 2560px;
$breakpoint-2k-max: 3839px;

$breakpoint-4k-min: 3840px;


