@import '_variables.scss';

html,
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  padding: 0;
  margin: 0;

  font-family: neue-haas-unica, -apple-system, 'Helvetica Neue', 'Arial', sans-serif;

  font-size: 20px;
  text-rendering: optimizeLegibility;
  line-height: 1.38;
  /* font-smoothing: antialiased; */
  
  background-color: #fdfdfd;
  color: #000000;
  
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  color: #000000;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-size: 1.2em;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

p {
  /* margin: 0 */
}

figure {
  margin: 0
}

