@import "_variables.scss";

.listContainer {
  padding: 30px;
  width: 100vw;
  max-width: 1000px;
  margin: $lh * 6 auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;

  @media only screen and (max-width: $breakpoint-smalltablet-max) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: $breakpoint-mobile-max) {
    padding: 10px;
  }


  .item {
    transition: 0.3s;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    padding: 15px;
    padding-bottom: 35px;
    min-height: 60px;

    border: 1px #ff462e solid;
    border-right: none;
    border-bottom: none;

    border-radius: 8px 0 0 0;
    color: #ff462e;
    cursor: pointer;
    position: relative;

    animation: hue 15s infinite;

    .caption{
      overflow: hidden;
      display: flex;
      max-width: 500px;
    }

    .number {
      position: absolute;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      border: 1px #ff462e solid;
      width: 28px;
      height: 28px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .play {
      position: absolute;
      right: 2px;
      bottom: 2px;
      background-image: url('../public/play.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
    }

  }

  @media (hover: hover) {
    .item:hover {
      transform: translate(-5px, -5px);
      border-radius: 20px 0 0 0;
    }
  }
}

@keyframes hue {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}