@import "_variables.scss";


.nav{
  display: flex;
  justify-content: center;
}

.navLogo{
  cursor: pointer;
  position: fixed;
  top: $lh * 0.7;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 1px #ff462e solid;
  background: white;
  height: 120px;
  width: 190px;
  z-index: 100;

  animation: hue 15s infinite;
}

.navBg {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  mix-blend-mode: difference;
  pointer-events: none;
  background-color: #3ccdff;
  animation: hue 15s infinite;
}

.nav:hover{
  .navBg{
    opacity: 1;
  }
}

@keyframes hue {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}